# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

  
# production
/ca-grocery-receipt-Selenium/bin
/ca-grocery-receipt-Selenium/bin/Debug/net8.0
/ca-grocery-receipt-Selenium/bin/Debug/net8.0/runtimes
/ca-grocery-receipt-Selenium/obj

# misc
.vs
 