# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

  
# production 
/ca-grocery-receipt-Selenium/bin
/ca-grocery-receipt-Selenium/obj
/test-grcery-receipt/bin
/test-grcery-receipt/obj

*.exe

# misc
.vs
 